doctype html
html(lang="es")
    head
        title = Gumbao
        link(href='/css/style.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        script(src='/js/jquery-2.1.1.js')
        script(src='/js/index.js')
        
    body
        